.o-info-list {

    li{
      padding-left: 1.3em;
      font-size: 1.2rem;


      &:before {
        content: "\e907";
        font-family: 'icomoon';
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
        color: $color_top_menu_border;
      }

  }
}
