$color__text-screen: #21759b;
$color__background-screen: #f1f1f1;
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

$color_top_menu_background: #F49A0B;
$color_top_menu_border: #FFD64F;
$color_top_menu_hover: pink;


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

$color_title_stick: #884812;