$color__text-screen: #21759b;
$color__background-screen: #f1f1f1;
/*$color_body_background: #FFE6CB;*/
$color_body_background: #d0dc8b;

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

// $color_top_menu_background: #F49A0B;
$color_top_menu_background: #3c500f;
// $color_top_menu_border: #FFD64F;
$color_top_menu_border: #5c712d;
// $color_header_img_border: #57A8DE;
$color_header_img_border: #1f3905;

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

$color_title_stick: #884812;

$red_alert: #db3236;

$orange_header_transparent: rgba(244,154, 11, .7);
$orange_header: rgb(244,154, 11);
$green_header_transparent: rgba(181,219, 67, .7);
$green_header: #96BC24;
$green_header_lighter: #d0dc8b;
$blue_header_transparent: rgba(87,168, 222, .7);
$blue_header: rgb(87,168, 222);
